.sidebar {
  border: 1px solid black;
  background-color: chartreuse;
  grid-column: 1/2;
  grid-row: 1/3;
}

.content-area {
  border: 1px solid black;
  background-color: crimson;
  grid-column: 2/-1;
  grid-row: 1/2;

}

.bottombar {
  border: 1px solid black;
  background-color: darkgray;
  grid-column: 2/5;
  grid-row: 2/3
  
}

.layout-manager {
  display: grid;
  background-color: hotpink;
  grid-template-columns: 150px 1fr 1fr 1fr;
  grid-template-rows: 3fr 2fr;
  width: 90vw;
  height: 90vh;
}

.app {
  display: flex;
  justify-content: center; /* concerning how sibling elements arrange relative to each other along the flex axis*/
  align-items: center; /* concenrning how elements arrange on axis they don't bump on each other*/
  height: 100vh;
  width: 100vw;
}

.one-third-two-thirds {
  display: grid;
  grid-template-columns: 1fr 2fr;
  width: 100%;
  height: 100%;
  /* grid-template-rows: 1fr; */
}

.one-third {
  background-color: dodgerblue;
}

.two-third {
  background-color: chocolate;
}