.sidebar {
  border: 1px solid black;
  background-color: chartreuse;
  grid-column: 1/2;
  grid-row: 1/3;
}

.content-area {
  border: 1px solid black;
  background-color: crimson;
  grid-column: 2/-1;
  grid-row: 1/2;

}

.bottombar {
  border: 1px solid black;
  background-color: darkgray;
  grid-column: 2/5;
  grid-row: 2/3;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  /* justify-content: center; */

}

.total-price {
  /* grid-column: 3/4; */
  grid-column: 3/4;
  grid-row: 1/2;
}

.item-pill-title {
  grid-column: 2/3;
  grid-row: 1
}

.item-pills {
  grid-column: 2/3;
  /* grid-row: 2/4; */
  /* margin-top: 5px; */
}

.progress-bar {
  grid-column: 1/2;
  grid-auto-flow: row;
  /* grid-row: 1/-1; */
}

.layout-manager {
  display: grid;
  background-color: hotpink;
  grid-template-columns: 150px 1fr 1fr 1fr;
  grid-template-rows: 3fr 2fr;
  width: 90vw;
  height: 90vh;
}

.app {
  display: flex;
  justify-content: center; /* concerning how sibling elements arrange relative to each other along the flex axis*/
  align-items: center; /* concenrning how elements arrange on axis they don't bump on each other*/
  height: 100vh;
  width: 100vw;
}

.one-third-two-thirds {
  display: grid;
  grid-template-columns: 1fr 2fr;
  width: 100%;
  height: 100%;
  /* grid-template-rows: 1fr; */
}

.one-third {
  background-color: dodgerblue;
}

.two-third {
  background-color: chocolate;
}

.menu-item {
  padding-bottom: 0;
  margin-bottom: 0;
}

.menu-item:hover {
  background-color: goldenrod;
}

.menu-item.selected {
  background-color: goldenrod;
  color: purple;
}

.having-chosen::after {
  content: '✅';
  padding: 5px;
}

.chosen {
  color: rgb(2, 230, 238);
}

.not-chosen {
  color: rgb(199, 82, 4);
}

.small-image {
  max-width: 100px;
  max-height: 100px;
}

.attribute-list {
  /* margin-left: 6px */
  padding-left: 16px ;
  list-style: none;
}

.attribute-list li.pro::before {
  margin-right: 10px;
  content: "✅";
}


.attribute-list li.con::before {
  margin-right: 10px;
  content: "❌";
}

.parent-bar {
  width: 100%;
  height: 25px;
  margin: 5px 0px 5px 0px;
  background-color: brown;
}

.child-bar {
  height: 100%;
  padding: 0px;
  margin: 0px;
  background-color: cyan;
}